git+https://github.com/mikeckennedy/fastapi-chameleon
attrs==19.3.0
aiofiles==0.7.0
click==7.1.1
fastapi==0.65.1
pypans==0.0.15
pydantic==1.8.2
starlette==0.14.2
uvicorn==0.14.0
python-multipart==0.0.5
sqlalchemy==1.4.0b1
progressbar2==3.53.1
python-dateutil==2.8.1
passlib==1.7.4
